.App{
 display: flex;
 align-items: center;
 justify-items: center;
 text-align: center;
}

.container{
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  padding: 2rem;
  margin-inline: auto;
}

.btn {
  display:flex;
  justify-content: center;
  align-items: center;
  gap: .5em;
  width: 100%;
  padding: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  border-radius: calc(.5rem - 2px);
  cursor: pointer;
}

.btn_content {
  width: fit-content;
}

.btn_outline{
  border: 1px solid hsl(214.3 31.8% 91.4%);
  color: var(--color-primary);
  background-color: var(--color-white);
  transition: background .15s linear;
}

.btn_outline:hover{
  background-color: var(--color-secondary-hover);
}

.btn:disabled{
  opacity: .7;
  cursor: not-allowed;
}